<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

	<title>Sox Me Up!</title>
	<style type="text/css">
	  body {	padding-left: 10em;
		padding-right: 10em;
		padding-top: 2em;
		padding-bottom: 1em;
		font: normal 14px/20px 'Gill Sans', 'Gill Sans MT', Verdana, Sans-serif;}
	  h1 { margin-left: -8%;}
	  h2,h3,h4,h5,h6 { margin-left: -4%; }
	</style>
	
</head>

<body>
	
	<h1>Sox Me Up!</h1>
	
	<p>OK, that seems to have all gone through OK.  Hopefully you'll get an automagical email confirmation too.</p>
	
	<p>Good luck!</p>
	
	<p>Rod &amp; Joy</p>

</body>
</html>
