<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

	<title>Sox Me Up!</title>
	<style type="text/css">
	  body {	padding-left: 10em;
		padding-right: 10em;
		padding-top: 2em;
		padding-bottom: 1em;
		font: normal 14px/20px 'Gill Sans', 'Gill Sans MT', Verdana, Sans-serif;}
	  h1 { margin-left: -8%;}
	  h2,h3,h4,h5,h6 { margin-left: -4%; }
	  th {text-align: left; vertical-align: top;}
	
	</style>
	
</head>

<body>
	
	<h1>Sox Me Up!</h1>
	
	<p>Hi chums!</p>
	
	<p>Two weeks until opening day. <i>Can you feel it?</i></p>
	
	<p>Once again, Joy and I are selling our Red Sox "10th Man Plan" season tickets to our delightful Boston-based chums at face value.</p>
	
	<p>We have ten pairs of tickets for Right Field Box 88, row WW.  They're top-notch seats, facing directly infield, rather than across at the green monster.  The price is <strong>$120 for a pair</strong> ($104 for the tickets, plus $16 to cover postage, Red Sox fees, etc).  All games are currently listed as starting at 7.10pm, but Saturday games are liable to change to afternoon games, at the whim of Fox Sports.  Make sure and double-check before heading to Fenway!</p>
	
	<p>Use the form below to let us know a) which games you'd be interested in buying our tickets for, and b) which is your number one preferred option.</p>
	
	<p>Submit this form before <b>Saturday 27th March</b>, 12pm EST. We'll pick ten of you at random, do our best to match up preferred games and available dates, and will drop you an email.  Payment via <strong>Paypal or check</strong> will be accepted.  (Note that the first Yankees game is the second game of the season, so if you're gong to request that game, we'd prefer Paypal payment so we can get you the tickets in time!)</p>
	
	<p>Any questions, <a href="mailto:soxmeup@begbie.com">fire us an email</a>.</p>
	
	<p>Rock on!</p>
	
	<p>Rod &amp; Joy</p>
	
	<hr/>

	<form action="/" method="POST">
		<table>
		{{ form.as_table }}
		</table>
		<input type="submit" value="Submit" />
	</form>


</body>
</html>
